.sticker{
    position: absolute;
    max-width: 76%;
    max-height: 50%;
    /*max-width: 50%;*/
    /*max-height: 50%;*/
    transition: all ease-in-out 0.5s;
}

.top{
    top: 0;
}

.x-center{
    left: 0;
    right: 0;
    margin: 0 auto;
}

.y-center{
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.right{
    right: 0;
}

.bottom{
    bottom: 0;
}

.bottom-center{
    bottom: 10vh;
}

.left{
    left: 0;
}
