.sticker{
    position: absolute;
    width: 76%;
}

.top{
    top: 0;
}

.x-center{
    left: 50px;
    right: 0;
}

.y-center{
    top: 144px;
    bottom: 0;
}

.right{
    right: 0;
}

.bottom{
    bottom: 0;
}

.bottom-center{
    bottom: 20px;
}

.left{
    left: 0;
}
